body{
    background-color: firebrick;
    color:midnightblue
}

#list{
    color:fuchsia;
}

#pic, #check{
    background-color: midnightblue;
    color:firebrick;
}

hr{
    width: 45%;
}

#pic{
    margin-right: 20px;
}